/*Me contrata! ;)*/
/*tags*/
p{ /* Altera o estilo de todos os parágrafos */
	color: white; /* Altera a cor da fonte */
	font-size: 15px; /* Altera o tamanho da fonte */
	font-family: helvetica, arial; /* Define a fonte de todos os parágrafos */
	text-shadow: 1px 1px 1px #111111;
}

body{ /* Altera o estilo de tudo que está dentro do body */
	background-color: #222222; /* Altera a cor do fundo da página */
}

*{ /* Altera o estilo de tudo na página */
	margin: 0; /* Valor da distância da margem (da borda para fora) */
	padding: 0; /* Valor da distância da margem (da borda para dentro) */
	font-family: Helvetica, Arial; /* Define a fonte de toda página */
}

header{ /* Altera o estilo do cabeçalho */
	background-color: #F08080;
	height: 100px;
	padding: 20px; 
}

footer{ /* Altera o estilo do rodapé */
	clear: both;
	background-color: #F08080;
	height: 30px; 
	text-align: center; 
	padding: 10px;
}

h1 { /* Altera o estilo de todos H1 */
	color: #FF00FF;
	text-shadow: 1px 1px 2px #FFFFFF;
	text-align: center;
	margin-bottom: 35px;
}

/*id*/
#principal { /* Altera o estilo do id */
	background-image: url('MeContrata.png'); 
	background-size: 100%;
	min-height: 350px; 
	padding: 60px 0 30px 0;
	clear: both;
}

#logo{
	float: left;
}

#menu{
	margin-top: 40px;
	float: right;
}

#menu a{
	text-decoration: none;
	color: #111;
	text-shadow: 1px 1px #111111;
	padding: 20px;
}

#menu a:hover{
	background-color: #111;
	color: #F08080;
}

/*class*/
.container{ /* Altera o estilo da classe */
	width: 960px;
	margin: auto; 
	overflow: auto;
}

.efeito{
	background-color: rgba(0, 0, 0, 0.5);
	padding:60px 0 60px 0;
}