/*Me contrata! ;)*/

p{
	color: #FF00FF;
	font-size: 40px;
	font-family: helvetica, arial;
}

body{
	background-color: black;
}

*{
	margin: 0;
	padding: 0;
}

header{
	background-color: green;
	height: 100px;
}

#esquerda {
	background-color: red;
	min-height: 200px;
	width: 60%;
	float: left;
}

#direira{
	background-color: yellow;
	min-height: 200px;
	width: 40%;
	float: right;
}

footer{
	background-color: blue;
	height: 30px;
}