/*Me contrata! ;)*/
/*tags*/
p{ /* Altera o estilo de todos os parágrafos */
	color: #FF00FF; /* Altera a cor da fonte */
	font-size: 40px; /* Altera o tamanho da fonte */
	font-family: helvetica, arial; /* Define a fonte de todos os parágrafos */
}

body{ /* Altera o estilo de tudo que está dentro do body */
	background-color: black; /* Altera a cor do fundo da página */
}

*{ /* Altera o estilo de tudo na página */
	margin: 0; /* Valor da distância da margem (da borda para fora) */
	padding: 0; /* Valor da distância da margem (da borda para dentro) */
	font-family: Helvetica, Arial; /* Define a fonte de toda página */
}

header{ /* Altera o estilo do cabeçalho */
	background-color: #F08080; /* Altera a cor do fundo do cabeçalho */
	height: 120px; /* Altera a altura do cabeçalho */
	padding: 20px; /* Valor da distância da margem (da borda para dentro) */
}

footer{ /* Altera o estilo do rodapé */
	clear: both; /* Necessário para que o rodapé fixe no final de qualquer div (fim da página) */
	background-color: #F08080; /* Altera a cor do fundo do rodapé */
	height: 30px; /* Altera a altura do rodapé */
	text-align: center; /* Alinha o texto (no caso, está centralizado) */
	padding: 10px; /* Valor da distância da margem (da borda para dentro) */
}

h1 { /* Altera o estilo de todos H1 */
	color: #FFFF; /* Altera a cor da fonte */
}

/*id*/
#principal { /* Altera o estilo do id */
	background-color: red; /* Altera a cor do fundo do id */
	min-height: 200px; /* Estipula um tamanho base, porém aumenta com a quantidade de conteúdo */
	width: 60%; /* Altera a largura (caso o valor esteja com uma porcentagem, quer dizer que altera conforme a dimensão da tela) */
	float: left; /* Fixa um determinado componente no lugar (no caso, à esquerda) */
}


/*class*/
.container{ /* Altera o estilo da classe */
	width: 960px; /* Determina o tamanho da largura */
	margin: auto; /* Define o tamanho da margem automáticamente */
}